@prefix: ta-;
@color: #000;
@bg-color: #FFF;
@option-bg-hover: darken(@bg-color, 10%);
@option-selected-bg: rgb(51, 122, 183);
@option-selected-bg-hover: lighten(@option-selected-bg, 10%);
@option-selected-fg: #FFF - @color;


${prefix}wrap {
  color: @color;
  background-color: @bg-color;
}